img {
    height: 700px;
    width: auto;
}

.body {
    display: flex;
}

form {
    margin-left: 150px;
}

#email {
    margin-left: 39px;
}

#password {
    margin-left: 10px;
}

#phone_number {
    margin-left: 21px;
}

#last_name {
    margin-left: 55px;
}

input {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}